MYSQL_ROOT_PASSWORD=xiaozhuo123
JWT_SECRET=replace_with_strong_secret
CORS_ORIGIN=http://118.31.52.245
DASHSCOPE_API_KEY=sk-81927d59bdc44ded85540490a54c69cb
QQ_MAIL_USER=791272708@qq.com
QQ_MAIL_AUTH_CODE=mxkahbfjhqpjbdbe
MCP_ENABLED=false
MCP_TOOL_WHITELIST=tool.mock.query
MCP_MAX_CALL_ROUNDS=3
MCP_TOOL_TIMEOUT_MS=3000
MCP_TOOL_MAX_RETRIES=1
MCP_RETRY_BACKOFF_MS=200
MCP_TOGGLE_CACHE_TTL_MS=3000
MCP_ADMIN_USER_IDS=1
